.content {
  height: 100%;
  padding-inline: 8px;

  .title {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  
  .days {
    height: 100%;
    align-items: stretch;
    justify-content: center;
    gap: 12px;
  }
}