.styled-div {
  position: relative;
  isolation: isolate;
  padding: 1rem 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background: linear-gradient(90deg, rgb(163, 40, 219), rgb(242, 166, 61));
  border-radius: 80% 20% 80% 20% / 30% 70% 30% 70%;
  cursor: pointer;
  user-select: none;
}
