@import '../../../styles/medias';

.container {
  width: 100%;
  height: 100%;
  padding: 24px;
  @include sm-screen() {
    display: flex;
    gap: 18px;
  }

  .general {
    width: 100%;
    @include sm-screen() {
      width: 30%;
      min-width: 400px;
    }
  }

  .detail {
    width: 100%;
  }
}
