$light-01: rgba(255, 255, 255, 1);
$light-02: rgba(255, 255, 255, 0.75);

$black-01: rgba(0, 0, 0, 1);
$black-02: rgba(20, 20, 20, 1);
$black-03: rgba(37, 37, 37, 1);

$dark-blue-01: rgba(16, 14, 28, 1);
$dark-blue-02: rgba(30, 33, 59, 1);
$dark-blue-03: rgba(49, 54, 97, 1);
