<div class="container">
  <div class="icon">
    <mat-icon>{{ icon }}</mat-icon>
  </div>
  <div class="value">
    @switch (type) {
      @case('pressure') {
        <span>{{ value }}hpa</span>
      }
      @case('windSpeed') {
        <span>{{ value }}km/h</span>
      }
      @case('precipitation') {
        <span>{{ value }}mm</span>
      }
      @case('humidity') {
        <span>{{ value }}%</span>
      }
      @case('feelsLike') {
        <span>{{ value | degree }}</span>
      }
      @default {
        <span>{{ value }}</span>
      }
    }
  </div>
  <div class="label">
    <small>{{ label }}</small>
  </div>
</div>
