.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100%;
  mat-icon, .value {
    opacity: .8;
  }
  mat-icon {
    transform: scale(1.5);
    margin-bottom: 8px;
  }
  .value {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .label {
    opacity: .6;
  }
}
