<div class="styled-div">
  <div class="name">
    <h1>{{ data?.locationName || '&ndash;&ndash;' }}</h1>
  </div>
  <div class="temperatures">
    <div class="main">
      <p class="avg-temp"><strong>{{ (data?.temperature| degree) || '&mdash;&mdash;' }}</strong></p>
      <p class="description">{{ data?.conditionText || '&ndash;&ndash;' }}</p>
    </div>
    <div class="min-max">
      <p>Max: {{ (data?.maxTemperature | degree) || '&mdash;&mdash;' }}</p>
      <p>Min: {{ (data?.minTemperature | degree) || '&mdash;&mdash;' }}</p>
    </div>
  </div>
</div>
