.styled-div {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 16px;
  isolation: isolate;
  overflow: hidden;
  display: flex;
  padding: 24px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      315deg,
      hsl(0deg 95% 66%) 0%,
      hsl(357deg 94% 65%) 22%,
      hsl(353deg 92% 64%) 39%,
      hsl(350deg 90% 63%) 50%,
      hsl(347deg 89% 61%) 56%,
      hsl(344deg 88% 60%) 59%,
      hsl(341deg 86% 58%) 64%,
      hsl(338deg 85% 57%) 72%,
      hsl(335deg 84% 55%) 84%,
      hsl(332deg 83% 53%) 100%
    );
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    transform: skewY(6deg);
    transform-origin: bottom right;
    z-index: -1;
  }

  .name {
    flex: 0 0 40%;
    h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: normal;
    }
  }

  .temperatures {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    .main {
      flex: 0 0 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .avg-temp {
        font-size: 80px;
        line-height: 80px;
        background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(254, 134, 159));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
      .description {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .min-max {
      font-size: 18px;
      font-weight: 500;
      & > p {
        margin-bottom: 32px;
      }
    }
  }
}
