<div class="weather">
  <app-detail-banner />
  <div class="weather__details">
    @if (true) {
      <div class="weather__details-grid">
        <div class="weather__details-grid__item feels-like">
          <app-weather-detail-item type="feelsLike" [value]="10" />
        </div>
        <div class="weather__details-grid__item pressure">
          <app-weather-detail-item type="pressure" [value]="10" />
        </div>
        <div class="weather__details-grid__item uv">
          <app-weather-detail-item type="uv" [value]="10" />
        </div>
        <div class="weather__details-grid__item precipitation">
          <app-weather-detail-item type="precipitation" [value]="10" />
        </div>
        <div class="weather__details-grid__item wind-speed">
          <app-weather-detail-item type="windSpeed" [value]="10" />
        </div>
        <div class="weather__details-grid__item humidity">
          <app-weather-detail-item type="humidity" [value]="10" />
        </div>
      </div>
      <div class="weather__details__last-update">
        <small>Last update: today</small>
      </div>
    } @else {

    }
  </div>
</div>
