@import '../../../../../styles/variables';
@import '../../../../../styles/medias';

.weather {
  box-shadow: 0px 4px 10px 4px $black-02;
  border-radius: 15px;
  padding: 16px;
  height: 100%;
  max-height: 450px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  @include sm-screen() {
    height: calc(100% - 200px);
  }

  &__details {
    width: calc(40% - 16px);
    height: 100%;
    padding: 1rem;
    &__last-update {
      text-align: center;
      opacity: .6;
    }

    .no-data {
      text-align: center;
      font-size: 1.25rem;
      line-height: normal;
      img {
        width: 100%;
        max-width: 230px;
      }
      p {
        margin-block: 1.5rem;
        opacity: .8;
      }
    }
  }
}
