<div class="weather">
  <app-detail-banner [data]="bannerInfo()" />

  <div class="weather__details">
    @if (currentForecast()) {
      <app-weather-detail-grid [currentWeather]="currentForecast()?.current!" />
      <div class="weather__details__last-update">
        <small>Last update: {{ currentForecast()?.current?.last_updated }}</small>
      </div>
    } @else {
      <div class="no-data">
        <img src="../../../../../assets/Day Clouds.svg">
        <p>Select a location you are interested in.</p>
      </div>
    }
  </div>
</div>
