@import '../../../../../styles/variables';
@import '../../../../../styles/medias';

.weather {
  box-shadow: 0px 4px 10px 4px $black-02;
  border-radius: 15px;
  padding: 16px;
  height: 100%;
  max-height: 450px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  @include sm-screen() {
    height: calc(100% - 200px);
  }

  &__details {
    width: calc(40% - 16px);
    height: 100%;
    padding: 4rem 1rem;
    &-grid {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 32px 16px;
      grid-template-areas:
        "feels-like pressure uv"
        "precipitation wind-speed humidity";
    }
    &__last-update {
      text-align: center;
      opacity: .6;
    }
    .feels-like { grid-area: feels-like; }
    .pressure { grid-area: pressure; }
    .uv { grid-area: uv; }
    .precipitation { grid-area: precipitation; }
    .wind-speed { grid-area: wind-speed; }
    .humidity { grid-area: humidity; }
  }
}
