@import './styles/variables';
@import './styles/medias';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  .dark {
    background: rgb(68, 68, 68);
    color: $light-01;
  }
  .light {
    background: rgb(217, 217, 217);
    color: $black-03;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif !important;
}

.full-width {
  width: 100%;
}

.dark {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-01;
  }
}
.light {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black-03;
  }
}
