.content {
  height: 100%;
  justify-content: center;
  gap: 30px;

  .city {
    font-size: 36px;
    line-height: 100%;
    font-weight: 600;
  }
  .country {
    font-size: 22px;
    line-height: normal;
  }
  .time {
    font-size: 96px;
    line-height: 100%;
    font-weight: 600;
  }
  .date {
    font-size: 20px;
  }
}