<app-card>
  <!-- @if (!locationData) {
    <p>No hay data</p>
  } @else {
    {{ locationData | json }}
  } -->
  <div class="column content">
    <div class="column place">
      <p class="city">{{ location()?.name }}</p>
      <p class="country">{{ location()?.country }}</p>
    </div>
    <div class="column datetime">
      <p class="time">{{ location()?.localtime | date: 'HH:mm' }}</p>
      <p class="date">{{ location()?.localtime | date: 'EEEE, dd LLL' }}</p>
    </div>
  </div>
</app-card>